# 7. 데이터 선택 (loc)
이름을 이용하여 원하는 row에서 원하는 column을 선택

In [2]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [3]:
df.loc['3번']

이름             송태섭
학교             북산고
키              168
국어              80
영어              75
수학              70
과학              80
사회              75
SW특기    Javascript
Name: 3번, dtype: object

In [4]:
df.loc['1번'][0:3]

이름    채치수
학교    북산고
키     197
Name: 1번, dtype: object

In [5]:
df.loc['5번'][2:5]

키     188
국어     15
영어     20
Name: 5번, dtype: object

In [6]:
df.loc['1번', '국어'] # 1번 학생의 국어성적

90

In [7]:
df.loc[['3번', '5번'], ['국어', '영어']]

      국어  영어
지원번호
3번    80  75
5번    15  20

In [9]:
df.loc['3번':'5번', '국어':'영어'] # slicing할때는 대괄호 두번 쓰지 않음!

      국어  영어
지원번호
3번    80  75
4번    40  60
5번    15  20

In [ ]:
# loc를 쓸때는 슬라이싱 끝 앞부분까지가 아니라, 끝을 포함해서 출력한다.